/*header*/

html, body {
    padding:0;
    margin:0;
    font-family:'PT Sans Narrow', sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    font-size:14px;
    color: black;
}
.hidden {
    display: none;
}
header{
    padding:0;
    background:black;
    height:5em;
}
header .layout-center-wrapper{
    height:5em;  
 }
.navbar-left {
    min-width: 100%;
    white-space:nowrap;
}
.navbar-custom li { 
    height: 4.9em;
    background-color: black;
    z-index: 100;
}
@media (max-width: 767px)  {
    .navbar-custom li { 
       text-align: right;
    }
}
.navbar-custom a {
    font-size:1.25em;
    text-decoration:none;
    color:white;
    min-height:4em;

}
.navbar-custom a:hover,
.navbar-custom a:focus,
.navbar-custom a:active{
    color: white;
    text-decoration: none;
    background-color:#242424 !important; 
}
.navbar-custom li:hover {
    background-color:#242424;
}
.active {
    box-shadow:inset 0 -5px 0 0px white;
}
.account-menu {
    float:right !important;
}
@media (max-width: 767px)  {
    .account-menu  { 
       width: 100%;
    }
}
.account-menu-enter{
    opacity:0.3;
}
.account-menu:hover a{
    opacity:1;
}
.account-menu i{ 
    margin-top: 1%;
    margin-right: 15px;
}
.btn-navbar {
    float:right;
    border: 2px solid white;
    border-radius: 10%;
    margin-top: 5px;
}

.btn-navbar i {
    font-size: 1.5em;
}
/*body, Общее */
h1, h2  {
    font-weight: 900;
}
.layout-center-wrapper{
    width:75%;
    min-height:50px;
    margin:0 auto;
    position: relative;
}
@media (max-width: 767px) {
    .layout-center-wrapper{
        width:100%;
    }
}
.content {
    padding-top: 1px;
}
.btn {
    color:white !important;
    background:black;
    text-decoration:none;
    font-family:PT Sans Narrow, sans-serif;
    text-transform:uppercase;
    font-weight:bold;
    font-size:1em;
    text-align: center;
    padding:15px 10%;
    white-space:nowrap;
    margin-bottom: 3%;
    }
.btn:hover {
    background:#663d15;
}
.content:after {
    content:'';
    display:table;
    clear:both;
}
@media (max-width: 767px) {
.navigator-title-section {
    margin:3%;
}
}
.navigator-title {
    font-size:2.5em;
    line-height:2em;
}
@media (max-width: 767px) {
    .navigator-title{
     width:100%;
    font-size:2em;
    line-height:1.5em;
    }
}
.navigation a {
    color:black;
    text-decoration:none;
    font-size:1em;
    line-height:1em;
    padding-right:1%;
}
.navigation .romb {
    padding-left: 23px;
    background:url("img/black-romb-ic.png") no-repeat 0 4px;
}


/*Footer*/
footer{
    margin-top:3%;
    padding:0;
    background:url("img/footer-bg.png");
    min-height:100%;
}
footer .layout-center-wrapper:after {
  content:'';
  display:table;
  clear:both;
}
footer .contacts-address, .social-buttons, .copyright {
    float:left;
    width: 30%;
    min-height:100%;
    margin:5% 1%;
    color:white;
    padding-top:1%;
}
@media (max-width: 767px) {
    footer .contacts-address, .social-buttons, .copyright{
        width:98%;
        float: none;
        text-align: center !important;
    }
}

footer .copyright {
    float:right;
    text-align:right;
}

.social-buttons {
    text-align:center;
    margin-bottom: 0;
}
footer span {
    margin-bottom:10px;
    display:block;
}
footer .design {
    margin-bottom:2%;

}
footer .glukhanko   {
    padding:15px 35px;
    min-width:140px;
    margin: 0 !important;
}
footer .btn:hover {
    background:white;
    color:black !important;
}
.page2 footer, .page3 footer, .page4 footer {
    box-shadow: inset 0 20px 50px 0 black;
}
/*Нaчало первой страницы (главная)*/

.page1 {
    background:url("img/bg.jpg");
}
.page1 .btn {
    
    margin-right:20px;
}
.container-centered {
    text-align: center; 
}

.logo{
    width:34%;
    min-height:204px;
    margin:5% 0;
}
@media (max-width: 767px) { 
    .logo{
        width:90%;        
    }
}
.features{
    margin:0 auto 10%;
    padding:0;
    list-style:none;
}
.features:after{
    content:"";
    display:table;
    clear:both;
}
.features li{
    float:left;
    width:25%;
    min-height:50px;
    margin:0 4%;
    text-align:center;
}
.features img {
    margin-bottom: 10%;
    margin-top: 2%;
}
@media (max-width: 767px) { 
    .features li{
        width:90%;
    }
}
    
.features li:last-child{
    margin-right:0;
}
.feature-title {
    font-size:2em;
    color:white;
    line-height:2.5em;
}
.features p {
    font-size:1em;
    color:white;
    line-height:2em;
}
.index-section{
    margin:3% 1%;
    padding:5% 0;
    min-height:50px;
    background:url("img/index-section-bg.png");
}
.index-section:after{
    content:"";
    display:table;
    clear:both;
}
.index-left-column{
    float:left;
    width:40%;
    margin-left:8%;
    min-height:70%;
    position:relative;
    font-weight: bold;
 }
@media (max-width: 767px) {
    .index-left-column, .index-right-column{
        width:100%;
        float: left !important;
        padding-left: 5%;
        
    }
}
.index-news {
    list-style:none;
    margin-bottom:50px;
    width:70%;
    padding:0;
}
@media (max-width: 767px) {
    #news, #gallery, #informarion, #contact {
        width:95%;
        margin:0;
    }
}

.index-left-column:after {
    content:''; 
    position:absolute;
    width:8px;
    height:250px;
    right:0;
    top:0;
    background-image:url("img/index-sektion-border.png");
}
@media (max-width: 767px) {
    .index-left-column:after{
       display: none;}
}
.index-section-title {
    font-size:2em;
    line-height:2em;
    margin-bottom:0.5em;
}
.index-section a {
    font-size:1em;
    color:black;
    text-decoration:none;
    line-height:2em;
}
.date {
    font-family:georgia;
    font-size:14px;
    line-height:24px;
    font-style:italic;
    text-transform:none;
}
.index-section .index-left-column li {
    margin-bottom:20px;
}
.index-right-column{
    float:right;
    width:40%;
    min-height:70%;
    position:relative;
}
.gallery-item {
    margin-bottom:17%;
}

.gallery-item img {
    width: 65%;
    margin-bottom: 7%;
}
@media (max-width:767px) {
    .gallery-item img {
    width: 90%;
}
}

.gallery-item:nth-child(2), .gallery-item:nth-child(3) {
    display:none;
}
.gallery-controls {
    clear:both;
}
.contacts-address, .contacts-work-time {
    font-size:1em;
    text-transform:uppercase;
    line-height:1.5em;
    margin-bottom:5%;
}
.index-left-column .contacts-work-time {
    margin-bottom:10%;
  
}
.contacts-address p {
    margin:0;
}
fieldset {
    border: none;
    margin-left:0;
    padding-left:0;
}
button[type="submit"] {
    width:76%;
    }
.contact-label {
    width:79%;
    margin-bottom:3%;
}
.contact {
    width:35%;
    height:3.5em;
    background:url("img/index-section-bg.png");
    margin-right:5%;
    margin-bottom:4%;
    color: black;
    border-color:black;
    padding-left:10px;
    font-family:PT Sans Narrow, sans-serif;
    font-size:1em;
    text-transform:uppercase;
    line-height:2em;
    display:inline-block;
    font-weight: bold;
}

/*НАчало второй страницы (текстовая)*/

.page2 {
    background:url(img/index-section-bg.png);
}

.main-price-title {
    margin-bottom:4%;
    padding:3% 2%;
    font-size:3.4em;
    display: inline-block;
    position: relative;
    background:url(img/index-section-bg.png);
    z-index: 10;
}
@media (max-width:767px) {
    .main-price-title {
    border: 2px solid black;
    font-size: 2.7em;
    line-height: 1.5em
}
}
.wrapper-sticker {
    text-align:center;
    overflow: hidden;
}
.wrapper-sticker:after {
    content:"";
    border-bottom: 2px solid black;
    position: absolute;
    width:95%;
    left:0px;
    top:31%;
    z-index: 5;
}
@media (max-width:767px) {
    .wrapper-sticker:after {
    display:none;
}
}
.price-brands {
    padding-left:0px;
    list-style: none;
    margin: 30px 0 0 0;
}
.price-brands li {
    padding-left: 5%;
    background:url("img/black-romb-ic.png") no-repeat 1px 7px;
    margin: 2% 0;
}
.price-section-title {
    font-size:1.7em;
    line-heigth:30px;   
}
.prices {
    width: 100%;
    height: 125px;
    border-collapse: collapse;
    margin: 30px 0;
}
td {
    border: 2px solid black;
    width: 50%;
    padding-left: 20px;
}
.coast {
    text-align: center;
}
.price-left-column p, .price-right-column p {
    width: 80%;
}
.price-left-column, .price-right-column {
    float:left;
    width:47%;
    min-height:150px;
    margin:1%;
    vertical-align:top;
    }
.price-right-column:last-child {
    padding-top:25px;
}
@media (max-width:767px) {
    .price-left-column, .price-right-column {
    width:95%;
    margin:3%;
}
}
/*Нaчало третьей страницы (каталог)*/

.page3 {
    background:url(img/index-section-bg.png);
}
.left-section-katalog {
  float:left;
  width:23%;
}
@media (max-width:767px) {
    .left-section-katalog {
      width:95%;
      margin: 3%;
}
}
.page3 fieldset, fieldset ul{
  padding:0;
  }
.brands {
  float:left;
  width:100%;
  margin:10px 10px 10px 0;
  }
.group-goods {
  float:left;
  width:100%;
  margin:10px 10px 10px 0;
  }
.right-section-katalog {
  float:right;
  width:70%;
  text-align:center;
  margin-top: 18px;
  }
@media (max-width:767px) {
    .right-section-katalog {
      width:95%;
      margin: 3%;
}
}
.goods-section {
  display:inline-block;
  width:30%;
  vertical-align:top;
  margin:1%;
  text-align:left;
  background:white;
  box-shadow: 0 0 15px 1px gray;
  }
.goods-section img {
    width:100% !important;}
@media (max-width:767px) {
    .goods-section, .goods-section img {
      width:100% !important;
     text-align: center;
}
}
.clearfix:after {
  content:'';
  display:table;
  clear:both;
  }

.price {
  display:inline-block;
  position: relative;   top:-2px;
  padding:16px 30px;
  text-align:center;
  background:#e5e5e5;
  margin: 20px -4px 20px 15px;
}
@media (max-width:767px) {
    .price {
        top:-6px;
    }
}
.name {
  text-transform:none;
}
.name, .brand-name {
  margin:0 16px;
}

.pages {
  width:100%;
  clear:both;
  padding-left: 1.5%;    
  }

.pages .pages-btn {
  margin:44px 0.5%;
  text-align:center;
  display:inline-block;
  vertical-align:middle;
  padding: 10px 20px;
  float:left;    
}
.left-section-katalog ul {
    list-style:none;
}
.left-section-katalog li {
    padding: 15px;
}
.page-active {
    background: white;
    color:black !important;
}

/*НАчало четвертой страницы (товар)*/
.page4 {
    background:url(img/index-section-bg.png);

}
.page4 .navigation {
    margin-left: 10px;
}
.photo-section {
  float:left;
  width: 46.5%;
  min-height:100%;
}
@media (max-width:767px) {
    .photo-section {
        width: 100%;}
}
.photo-section img {
  margin:1% 1.8%;
  box-shadow: 0 0 30px 1px gray;
}

@media (max-width:767px) {
    .big-pic {
        width: 95%;
    }
}
@media (max-width:767px) {
    .little-pic {
        width: 28.7%;
    }
}

.description {
  float:right;
  width: 50%;
  min-height:3100%;
  padding:10px;
}
@media (max-width:767px) {
    .description {
        width: 95%;
        margin: 3%;
    }
}
.name-title {
  font-size:2.3em;
  line-height:1em;
  margin: 0;    
}
.goods-title {
  font-size:1.7em;
  line-height:2.5em;
}
.articul {
  float: right;
  color:#aeaeae;
  margin-bottom: 
}
.description p {
  margin:5% 0;
}
.page4 ul {
  padding:0 20px;
}
.description .price {
    position: relative;
    top:-5px;
    margin-left: 0;
    padding:17px 30px;
}
.description ul {
    list-style:none;
    margin: 0;
    padding:0;
    margin-top:30px;
}
.description li {
    padding-left: 23px;
    background:url("img/black-romb-ic.png") no-repeat 0 8px;
} 